################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/POC-Azure-Login/v16/Server/sqlite3
/obj/Debug/netcoreapp2.2
/obj
/.vs/POC-Azure-Login
/.vs
/bin/Debug/netcoreapp2.2
